@model  IEnumerable<Levent.Models.AdminUser>
@{
    ViewBag.Title = "HomeUser";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
@{var user = Session["User"] as Levent.Models.AdminUser;}
<main>
    <section class="sec-80">
        <div class="sec-info">
            <div class="info-left">

                <div class="siba-name">@user.User_Name</div>
                <div class="siba-mail">@user.Email_User</div>
                <hr>
                <div class="account-img"><img src="~/Assests/image/meo.png" /></div>
                <div class="siba-out"><a href="/User/Logout">Đăng xuất</a></div>
                <div style="margin-top:50px;" class="siba-out"><a href="~/Admin/HomeAdmin/Index">Admin</a></div>

            </div>

            <div class="info-right">
                <div class="mem">
                    <div class="wish-head">
                        <div class="title">Thông tin cá nhân</div>
                        <hr>
                        <div class="info">
                            <form>
                                <div class="form">
                                    <label>ID:</label><span>@user.ID_User</span><br>
                                    <label>Họ và tên:</label><span>@user.Full_Name</span><br>
                                    <label>Phone Number:</label><span>@user.Phone_Number</span><br>
                                    <label>Address:</label><span>@user.Address</span><br>
                                    <label>Password:</label><span>@user.Password_User</span><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="display:flex; justify-content:space-around;margin-top:20px;">
                    <a style="background-color: #515151; color: #fff; width: 200px; margin-right:10px;height: 30px; font-size: 16px; text-align: center; text-decoration: none; padding-top: 10px; " href="/User/User_Edit/@user.ID_User">Edit</a>
                    <a style="background-color: #515151; color: #fff; width: 200px; height: 30px; font-size: 16px; text-align: center; text-decoration: none; padding-top: 10px; " href="/User/User_Delete/@user.ID_User">Delete</a>
                </div>
            
            </div>

        </div>
    </section>
</main>