@model Levent.Models.Product

@{
    ViewBag.Title = "Products_Detail";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
<link href="~/Assests/css/detail.css" rel="stylesheet" />
<div class="bc">
    <div class="con">
        <ul>
            <li class="page">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
            <li>/</li>
            <li class="page">@Html.ActionLink("Cửa hàng", "Product_Index_Store", "Product")</li>
            <li>/</li>
            <li class="detail-page">Levents®  @Html.DisplayFor(model => model.Name_Pro, new { @class = "mb-5" })</li>
        </ul>
    </div>
</div>
<div class="sec-80-shop">
    <div class="con-pro">
        <div class="col-left">
            <a href=""><img src="@Url.Content(Model.Image_Pro)" alt=""></a>
        </div>
        <div class="col-right">
            <form>
                <h4 class="name-pro">
                    @Html.DisplayFor(model => model.Name_Pro, new { @class = "mb-5" })
                </h4>
                <h4 class="price-pro">
                    @Html.DisplayFor(model => model.Price_pro, new { @class = "mb-5" }).000 vnđ
                </h4>
            </form>
            <div style="display: inline-flex">
                @{var user = Session["User"] as Levent.Models.User1;}
                @{ if (user == null)
                    {

                        <div class="cart"><a href="/User/LoginAccount">Thêm vào giỏ hàng</a></div>

                    }
                    else
                    {
                        <div class="cart"><a href="/ShoppingCart/AddToCart/@Model.ID_Pro">Thêm vào giỏ hàng</a></div>
                    }
                }
                <div class="heart-container" title="Like">
                    <input type="checkbox" class="checkbox" id="Give-It-An-Id">
                    <div class="svg-container">
                        <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                            </path>
                        </svg>
                        <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                            </path>
                        </svg>
                        <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                            <polygon points="10,10 20,20"></polygon>
                            <polygon points="10,50 20,50"></polygon>
                            <polygon points="20,80 30,70"></polygon>
                            <polygon points="90,10 80,20"></polygon>
                            <polygon points="90,50 80,50"></polygon>
                            <polygon points="80,80 70,70"></polygon>
                        </svg>
                    </div>
                </div>
            </div>

            <hr>
            <div class="info-pro">
                <div class="info">
                    <h4 class="title-text">Thông tin</h4>
                    <p> @Html.DisplayFor(model => model.Name_Pro, new { @class = "mb-5" })</p>
                    <p>
                        Đây là sản phẩm thuộc dòng sản phẩm mới chưa từng có từ trước đến nay – <br>
                        LEVENTS® CLASSIC.<br>
                        LEVENTS® CLASSIC với mục tiêu trở thành dòng sản phẩm “EVERY WEAR” là sự <br>
                        kết hợp tinh tế giữa thiết kế đơn giản, hiện đại và form dáng cổ điển, tập trung về <br>
                        chất liệu và màu sắc đa dạng.<br>
                        Hứa hẹn mang đến những item thoải mái để bạn tự tin thể hiện cá tính, phù hợp <br>
                        với mọi hoạt động dạo phố hàng ngày.
                    </p>
                </div>


                <div class="table-size">
                    <h4 class="title-text">Bảng size</h4>
                    <img class="tb-size" src="~/Assests/image/bang-size.png" alt="">
                </div>
                <div class="escalator">
                    <h4 class="title-text">Quy định đổi trả</h4>
                    <p>
                        Nhằm mang lại cho bạn sự tiện lợi và những trải
                        nghiệm tuyệt vời khi mua hàng, tụi mình <br>
                        đã phát triển dịch vụ đổi hàng tận nơi và chính sách bảo hành. <br>
                        Tham khảo thêm thông tin về chính sách <a style="color: #000;" href="https://levents.asia/customer-care/chinh-sach-doi-tra-va-bao-hanh/"><strong>tại đây</strong></a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="clear"></div>

