@model Levent.Models.Product

@{
    ViewBag.Title = "Product_Delete";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Recent Tickets</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Image </th>
                                <th>ID</th>
                                <th> Name </th>
                                <th>Price</th>
                                <th> Image-Link </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img class="me-2" style="border-radius:0%!important" src="@Url.Content(Model.Image_Pro)" height="150" width="150" id="previewImg" />
                                </td>
                                <td>  @Html.DisplayFor(model => model.ID_Pro, new { @id = "exampleInputEmail3" })</td>
                                <td>@Html.DisplayFor(model => model.Name_Pro, new { @id = "exampleInputEmail3" })</td>
                                <td>@Html.DisplayFor(model => model.Price_pro, new { @id = "exampleInputEmail3" })</td>
                                <td>
                                    @Html.DisplayFor(model => model.Image_Pro, new { @class = "badge badge-gradient-success" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div style="padding-top:10px" class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-gradient-primary me-2" />
                        @Html.ActionLink("Cancel", "Product_Control", "Admin_Product", new { @class = "btn btn-light" })
                    </div>
                }
            </div>
        </div>

    </dl>
</div>