@model Levent.Models.Category
@{
    ViewBag.Title = "Category_Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<h2>Category Create</h2>

@using (Html.BeginForm("Category_Create", "Admin_Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-body">
            <p class="card-description"> Create </p>
            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">ID</label>
                    @Html.EditorFor(model => model.ID_Cate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.ID_Cate)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Name</label>
                    @Html.EditorFor(model => model.Name_Cate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name_Cate, "", new { @id = "exampleInputEmail3" })
                </div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
}